
* {font-family: 'Outfit', sans-serif;
padding: 0%;
margin: 0%;
box-sizing: border-box;
}

body {
 background-color: grey;   
}

#first-block {
    width: 100%;
    height: 900px;
    background-image: url(img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: cover;

}

#header {
    display: grid;
    grid-template-columns: auto auto auto;
}

#logo {
    height: 40px;
    text-align: center;
}

#logo h1 {
    font-size: 36px;
    font-weight: 500px;
    color: white;
}

#nav {
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}

#nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400px;
}

#login {
    height: 100px;
    text-align: center;
}

.btn-login {
    background-color: white;
    color: #1D54A4;
    padding: 12px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
}

.btn-login h3 {
    font-size: 18px;
    font-weight: 500px;
}

#soc-ico {
    margin: 0 auto;
    width: 356px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 300px;
}

#text-block-1 {
    text-align: center;
    color: white;
}

#text-block-1 h1{
    font-size: 72px;
    font-weight: 700px;
}

#text-block-1 p{
    font-size: 24px;
    font-weight: 400px;
}

#serch-block {
    margin-left: 139px;
}

#serch-header {
    background-color: white;
    width: 350px;
    height: 70px;
    padding: 15px;
    display: flex;
}

#serch-body {
    background-color: white;
    width: 1600px;
    height: 200px;
}

.header-el {
    max-width: 147px;
    background-color: white;
    padding: 12px;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    color: #1D54a4;
}

.header-el h6{
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.header-el img {
    width: 24px;
    height: 24px;
}

